---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import CardSektion from "../components/CardSektion.astro";
import SecondLayout from "../layouts/SecondLayout.astro";
import Faktaboks from "../components/Faktaboks.astro";

import Intro from "../components/Intro.astro";

import "..//styles/style.css";
import Testimonial from "../components/Testimonial.astro";
---

<SecondLayout title="3. SEM - Eksamensprojekt">
  <main>
    <div class="">
      <img src="../splash/hundsplash.webp" alt="Hund" class="z-0 w-full h-full" />
    </div>
    <div class="text-primary_white z-10 absolute top-[32rem] ">
      <h1 class="">ALLE DYR FORTJENER ET GODT HJEM</h1>
      <p class="pt-5">Vi er dedikeret til at redde og beskytte dyr i nød. Vi arbejder for at finde kærlige hjem til vores pelsede venner og sikre, at de får den omsorg og opmærksomhed, de fortjener.</p>
      <Button variant="primary_1" size="medium">STØT</Button>
    </div>
  </main>

  <!-- <section class="bg-secondary_beige">
      <Intro title="KLAR TIL EN NY VEN?" description="Læs om alle de dejlige hunde, katte, kaniner og smådyr her på siden og find netop det dyr der passer perfekt til dit hjem." />

      <div class="mb-10 grid grid-cols-2 lg:ml-10">
        <div class="flex gap-10 align-baseline">
          <div>
            <a href="adopter.astro"
              ><img src="../ikoner/hund_ikon.png" alt="Hund" />
              <p class="underline text-center pt-2">Hund</p>
            </a>
          </div>
          <div>
            <a href="adopter.astro"
              ><img src="../ikoner/kat_ikon.png" alt="Kat" />
              <p class="underline text-center pt-2">Kat</p>
            </a>
          </div>
          <div>
            <a href=" adopter.astro">
              <img src="../ikoner/kanin_ikon.png" alt="Kanin" />
              <p class="underline text-center pt-2">Kanin</p>
            </a>
          </div>
          <div>
            <a href="adopter.astro"
              ><img src="../ikoner/marsvin_ikon.png" alt="marsvin" />
              <p class="underline text-center pt-2">Marsvin</p>
            </a>
          </div>
        </div>

        <div class="border-l-2 border-black col-start-2">
          <div class="justify-center grid">
            <h3 class="">191</h3>
          </div>

          <p class="justify-center grid pt-4">
            venter på nyt hjem. Ingen fortjener at være alene <br />- adopter fra fyreværnet og gør en forskel
          </p>
          <Button variant="primary_1" size="medium">FIND KÆLEDYR</Button>
        </div>
      </div>
    </section> -->
</SecondLayout>
