---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import CardSektion from "../components/CardSektion.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Faktaboks from "../components/Faktaboks.astro";

import "..//styles/style.css";
import Testimonial from "../components/Testimonial.astro";
import Splash from "../components/Splash.astro";
---

<MainLayout title="3. SEM - Eksamensprojekt">
  <Splash title="Donation" description="Din donation har magten til at forvandle og redde liv. Når du støtter os med en donation, giver du dyrene en anden chance for et bedre liv." imgPath="/public/splash/donation.jpg" />
  <Button variant="primary_1" size="medium">Støt dyrene</Button>
  <Button variant="primary_2" size="medium">Find kæledyr</Button>
  <Button variant="secondary" size="medium">Næste</Button>
  <Testimonial title="»De dygtigste matchmakere«" description="“De er dygtige matchmakere, og grundige i deres research af adoptionsfamilier. I er så glade for dyr, og det var vigtigt for mig, at Buller skulle være glad fra dag 1, uanset hvad han laver af unoder.”" ejer="Betina, tidligere ejer af Buller" imgPath="/public/adoption/basse.webp" />
<Faktaboks  text="Ring til os på hverdage mellem 9.30 - 12.00 på telefonnummer 4494 6695"></Faktaboks>
  <Card title="Basse" imgPath="adoption/basse.webp" icon="gender_icon.svg" race="Schæfer / Husky / Border / Berner" description="Basse er blot 7 måneder gammel, og det er en svær alder, hvor alt kan føles som lidt op ad bakke, men vi er sikre på, at finde hans helt rette match, der er klædt på til opgaven." ></Card>
</MainLayout>
