---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import CardSektion from "../components/CardSektion.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Faktaboks from "../components/Faktaboks.astro";

import "..//styles/style.css";
---

<MainLayout title="3. SEM - Eksamensprojekt">
  <Button variant="primary_1" size="medium">Støt dyrene</Button>
  <Button variant="primary_2" size="medium">Find kæledyr</Button>
  <Button variant="secondary" size="medium">Næste</Button>
  <Card imgPath="adoption/basse.webp" title="Basse" icon="gender_icon.svg" race="Schæfer / Husky / Border / Berner" description="Tempor ea duis non veniam ad cillum ex amet ullamco sunt est. Ex fugiat labore commodo esse ad incididunt nostrud consequat fugiat esse dolore ut quis culpa. Mollit voluptate dolore consectetur esse ullamco dolor consequat consequat. Veniam ad cillum sint cillum mollit qui. Sit nostrud qui eiusmod quis velit ullamco minim nostrud laboris occaecat exercitation cupidatat eu. Duis sint occaecat ea eiusmod occaecat ullamco velit excepteur. Exercitation nulla deserunt laboris consequat laboris ad eu ad consectetur nulla id exercitation officia." />
  <Faktaboks header="Praktiske informationer" iconlist="blue_paw.svg" text="Do mollit occaecat id fugiat laboris sunt in id sunt ex nulla sit quis." />
</MainLayout>
