---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import CardSektion from "../components/CardSektion.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Splash from "../components/Splash.astro";
import Intro from "../components/Intro.astro";
import "..//styles/style.css";
---

<MainLayout title="3. SEM - Eksamensprojekt" splash_title="INDLEVER DIT KÆLEDYR TIL OS" splash_description="Læs om alle de dejlige hunde, katte, kaniner og smådyr her på siden og find netop det dyr der passer perfekt til dit hjem." imgPath="/public/splash/indlever.webp" intro_title="Lad os finde en kærlig familie til dit dyr " intro_description="Slår dit liv en kolbøtte? Uanset om det er på grund af sundhed eller flytning,  så er vi her til at hjælpe din ven trygt videre i et nyt og kærligt hjem.">
  <section class="flex flex-row space-x-4 justify-center">
    <div class="">
      <img src="../splash/1.png" alt="Hund" class="" />
      <h4>UNDERSØG INDLEVERING</h4>
      <p>Undersøg kriterier for indlevering samt hvilke dyr vi modtager.</p>
    </div>
    <div class="">
      <img src="../splash/2.png" alt="Hund" class="" />
      <h4>KONTAKT OS</h4>
      <p>Ring til os på hverdage mellem 9.30 - 12.00 på telefon +45 44 94 66 95</p>
    </div>
    <div class="">
      <img src="../splash/3.png" alt="Hund" class="" />
      <h4>AFTALE</h4>
      <p>Hvis vi vurderer, at dyret er omplaceringsegnet, aftales den videre proces.</p>
    </div>
  </section>
</MainLayout>
