---
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Splash from "../components/Splash.astro";
import Intro from "../components/Intro.astro";
import "..//styles/style.css";
import Faktaboks from "../components/Faktaboks.astro";
import CardSektion from "../components/CardSektion.astro";
---

<MainLayout class="col-span-2" title="3. SEM - Eksamensprojekt" splash_title="Værd at vide om os" splash_description="Find alt du skal vide om Dyreværnet her på siden." imgPath="/public/splash/donation.jpg" intro_title="Din donation gør en forskel" intro_description="Vi har gjort det nemt og enkelt at bidrage med en donation. Vælg mellem en enkel, månedlig eller virksomheds-donation og udfyld formularen." <main>
  
  <section class="grid grid-cols-2 grid-rows-2 max-w-6xl mx-auto gap-16">
    <div>
      <h3 class="uppercase">Dyreværnets formål og arbejde</h3>
      <p>
        Dyreværnet er en af Danmarks ældste dyreværnsforeninger og vores vision er enkel, og fungerer som ledestjerne i alle Dyreværnets tiltag, nemlig at »Alle kæledyr i Danmark skal have et godt hjem«. Vores vision går hånd i hånd med vores holdning om at »Hver en pote tæller«.
        <p>Det vil sige at hos Dyreværnet gør vi alt, hvad der står i vores magt for at give dyrene en chance, og vi går langt for at undgå aflivning. Vi giver, takket være vores internater, dyreklinikker og adoptionsafdeling, dyrene et godt og værdigt liv - fuld af kærlighed.</p>
      </p>
    </div>

    <div class="bg-secondary_beige p-12 rounded row-span-2 leading-relaxed">
      <Faktaboks header="Dyreværnet i korte vuf..." text="...Hjælper hvert år over 1.200 kæledyr med at finde deres nye familie">
        <img src="blue_paw.svg" alt="iconlist" />
      </Faktaboks>
      <Faktaboks text="...Tager ud på dyreværnssager i hele Danmark ">
        <img src="blue_paw.svg" alt="iconlist" />
      </Faktaboks>
      <Faktaboks text="...Hjælper kæledyr i deres eget hjem igennem Potehjælp ">
        <img src="blue_paw.svg" alt="iconlist" />
      </Faktaboks>
      <Faktaboks text="...Hjælper de socialt udsatte dyr via de mobile Frynseklinikker">
        <img src="blue_paw.svg" alt="iconlist" />
      </Faktaboks>
      <Faktaboks text="...Har to internater i hhv. Rødovre og Kolding ">
        <img src="blue_paw.svg" alt="iconlist" />
      </Faktaboks>
      <Faktaboks text="...Har over 100 tilknyttet til at gå tur med hundende og hygge om kattene">
        <img src="blue_paw.svg" alt="iconlist" />
      </Faktaboks>
      <Faktaboks text="...Ca. 65% af omkostningerne dækkes af private midler som donationer ">
        <img src="blue_paw.svg" alt="iconlist" />
      </Faktaboks>
    </div>
    <div>
      <h3 class="uppercase">Dyreværnets historie</h3>
      <p>
        Dyreværnet – Foreningen til Værn for Værgeløse Dyr - blev stiftet den 11. marts 1898 med det formål at redde herreløse og hjemløse hunde fra mishandling og aflivning.

        <p>Siden 1910 har foreningen drevet internat forskellige steder i København/Frederiksberg. Det nuværende internatet i Rødovre blev indviet i 1954 og i 2016 indgik Dyreværnet et tæt samarbejde med Søndergaard Hunde- og Kattepension i Kolding, som derfor nu kalder sig Dyreværnet v/Søndergaard Hunde- og Kattepension.</p>
        <p>I dag kan Dyreværnet huse familiedyr af næsten enhver art. Dyreværnet arbejder også sammen med Krybdyrinternatet, som har mulighed for at hjælpe krybdyr videre ud i nye, kærlige hjem.</p>
      </p>
    </div>
  </section>

  <section class="justify-center grid">
    <CardSektion />
    <CardSektion />
  </section>
</MainLayout>

<style></style>
