---
import Button from "../components/Button.astro";
import CardSektion from "../components/CardSektion.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Splash from "../components/Splash.astro";
import Intro from "../components/Intro.astro";
import "..//styles/style.css";
import Card from "../components/Card.astro";
---

<MainLayout title="3. SEM - Eksamensprojekt">
  <!-- <Splash title="Dyreværnets tips og tricks" description="Læs om alle de dejlige hunde, katte, kaniner og smådyr her på siden og find netop det dyr der passer perfekt til dit hjem." imgPath="/public/splash/rodgivning_splash.webp" />
  <Intro title="Alt du skal vide om din hund, kat og kanin" description="Læs om alle de dejlige hunde, katte, kaniner og smådyr her på siden og find netop det dyr der passer perfekt til dit hjem." /> -->

    <section class="grid" >
      <div  >
        <h3 class="uppercase">Hunde</h3>
        <CardSektion />
      </div>
      <div class="bg-secondary_beige">
        <h3 class="uppercase">Katte</h3>
        <CardSektion />
      </div>

      <div>
        <h3 class="uppercase">Smådyr</h3>
        <CardSektion />
      </div>
    </section>
 
  
</MainLayout>

<style>
  @media (min-width: 950px) {
    section {
      display: flex;
      justify-content: center;
      gap: var(--spacing-md);
    }
  }

</style>
