---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import CardSektion from "../components/CardSektion.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Splash from "../components/Splash.astro";
import Intro from "../components/Intro.astro";
import "../styles/style.css";

import Alpine from "alpinejs";
window.Alpine = Alpine;
Alpine.start();
---

<MainLayout title="3. SEM - Eksamensprojekt">
  <!-- Your content goes here -->

  <section
    x-data="{ step: 'step1', winetype: 'both', quantity: '6', howoften: 'weekly', amount: '4' }"
  >
    <header class="border-b border-slate-500 pt-4 pb-8">
      <p class="pb-2">Configure your subscription in 4 easy steps:</p>
      <ul>
        <li
          class="inline pr-2"
          :class="{ 'border-black border-b': step === 'step1' }"
        >
          1: Wine type
        </li>
        <li
          class="inline pr-2"
          :class="{ 'border-black border-b': step === 'step2' }"
        >
          2: Quantity
        </li>
        <li
          class="inline pr-2"
          :class="{ 'border-black border-b': step === 'step3' }"
        >
          3: Delivery frequency
        </li>
        <li
          class="inline pr-2"
          :class="{ 'border-black border-b': step === 'step4' }"
        >
          4: Confirmation
        </li>
      </ul>
    </header>
  </section>
</MainLayout>

<style></style>
