---

import Card from "./Card.astro"
import Button from "./Button.astro"
import "..//styles/style.css";
---

<section class="flex gap-8 my-6">
<Card imgPath="adoption/basse.webp" title="Sådan holder du flåterne væk" description="Når temperaturen stiger udenfor, er det også ensbetydende med, at flåterne kommer." ></Card>
<Card imgPath="adoption/basse.webp" title="Sådan fjerner du en flåt" description="Har du fundet en flåt på din hund, så er det vigtigt, at du fjerner den hurtigst muligt og at du fjerner hele flåten." ></Card>
<Card imgPath="adoption/basse.webp" title="Skal hunden med på ferie?" description="Har du planer om at tage din firbenede ven med på rejsen, så få fem gode råd fra Marie Jakobsen." ></Card>
</section>
<style>



</style>
