---
const { title, description, imgPath, kategori, pris,imgLager, lagerstatus, afsendelse, nyhedsbanner} = Astro.props;

import "..//styles/style.css";
import Button from "./Button.astro";

---


<section>

</section>
<style></style>
