---
const { header, text, iconlist } = Astro.props;
import "..//styles/style.css";
---

<section class="">
  <h3>
    {header}
  </h3>
  <div class="flex gap-6">
    <slot />
    <p>{text}</p>
  </div>
</section>
