---
import "..//styles/style.css";
---

<!-- TOPBAR -->
<div class="topbar list-none bg-primary_blue text-primary_white">
  <div class="flex justify-end">
    <li>TV</li>
    <li>FRYNSEKLINIKKEN</li>
    <li>DYREKLINIK</li>
    <li>HITTEDYR</li>
    <li>HUNDEPENSION</li>
    <li>BLIV SPONSOR</li>
    <li>BLIV MEDLEM</li>
  </div>
</div>

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown flex">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path></svg
        >
      </label>
      <!-- BURGERMENU -->
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-white rounded-box w-52"
      >
        <li class="uppercase"><a href="adopter.html">adopter</a></li>
        <li class="uppercase"><a href="indlever.html">indlever</a></li>
        <li class="uppercase"><a href="rodgivning.html">rådgivning</a></li>
        <li class="uppercase"><a href="#">andmeld dyreværnssag</a></li>
        <li class="uppercase"><a href="om">om dyreværnet</a></li>
      </ul>
    </div>
    <img src="logo.webp" alt="logo" />
    <a class="btn bg-accent_green border-none lg:hidden">Støt</a>
  </div>

  <!-- DESKTOPMENU -->
  <div class="navbar hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li class="uppercase"><a href="adopter.html">adopter</a></li>
      <li class="uppercase"><a href="indlever.html">indlever</a></li>
      <li class="uppercase"><a href="rodgivning.html">rådgivning</a></li>
      <li class="uppercase"><a href="#">andmeld dyreværnssag</a></li>
      <li class="uppercase"><a href="om">om dyreværnet</a></li>
    </ul>
    <a href="stot.html" class="btn bg-accent_green border-none">Støt</a>
  </div>

  <style></style>
</div>
