---
const { title, description } = Astro.props;
import "..//styles/style.css";
---

<section class="flex flex-col items-center text-center">
  <h2>{title}</h2>
  <p>{description}</p>
</section>

<style></style>
