---
const { splash_title, splash_description, imgPath } = Astro.props;
import "..//styles/style.css";
---

<section class="splash">
  <div class="hero" style={`background-image: url(${imgPath});`}>
    <div class="hero-overlay bg-opacity-20"></div>
    <div class="hero-content text-neutral-content">
      <div class="text-primary_white">
        <h1>{splash_title}</h1>
        <p>{splash_description}</p>
      </div>
    </div>
  </div>
</section>

<!-- Problemer -->
<!-- Styling på linje 10: text-primary_white gider ikke at træde igennem -->
